

body {
    border: 10px solid black; 
    margin: 0; 
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    color: black;

}

p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    text-align: left;
    width: 600px;
    font-size: 25px;
}
